doctype html 
html 
    head 
        style
            include style.css
    body
        div Магазин духов 'Ромашка'

        block content  

        div Щиро ваши ромашка  

        br
        a(href=frontendUrl) Hebron Rocket Course  