extends container 
block content 
    p #{userName}
    div 
        | OOps looks like you forgot your password.
        p Dont worry, everybody forgot something 

        button 
            a(href=forgotPasswordUrl) CLICK HERE  TO RESET